<html>
<head>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">

    <script src="bower_components/jQuery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="js/app.js"></script>
</head>

<body ng-controller="mainCtrl" ng-app="app">

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Made It</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" data-toggle="modal" data-target="#createUser"><span
                            class="glyphicon glyphicon-plus"></span></a></li>
                    <li class="dropdown open">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="true"><span class="glyphicon glyphicon-filter" aria-hidden="true"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="" #>Art</a></li>
                            <li><a href="" #>Food</a></li>
                        </ul>
                    </li>
                </ul>

                <form class="navbar-form navbar-right">
                    <input type="text" ng-model="searchText" class="form-control" placeholder="Search...">
                </form>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="card flex-column">
            <div class="wrapper" id="hd1">
            </div>
            <div class="content">
                <div class="content-header flex-row">
                    <h2 class="title">Alaskan Reindeer</h2>
                    <span>12 <i class="fa fa-comment fa-lg fa-fw" aria-hidden="true"></i></span>
                </div>
                <p class="discription">Smoky, juicy and delicious. So good we flew it all the way from Alaska!</p>
            </div>
        </div>
    </div>

    <!-- popup box started -->
    <div class="modal fade" id="createUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></a>
                    <h4 class="modal-title" id="exampleModalLabel">New Content</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="category" class="control-label">Category:</label>
                            <select class="form-control" id="category" ng-model="user.category">
                                <option>Art</option>
                                <option>Food</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="user" class="control-label">User Name:</label>
                            <input type="text" class="form-control" id="user" ng-model="user.username">
                        </div>
                        <div class="form-group">
                            <label for="email" class="control-label">Email:</label>
                            <input type="text" class="form-control" id="email" ng-model="user.email">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="control-label">Description:</label>
                            <textarea class="form-control" id="message-text" ng-model="user.decription"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="content" class="control-label">Content:</label>
                            <textarea class="form-control" id="content" ng-model="user.content"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="addItem(user)">Save</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
